body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 5fr 2fr;
}

header{
    grid-column: 1/4;
    grid-row: 1/2;
}

nav {
    width: 100%;
    background: #1F2D45;
}
ul{
    width: 95%;
    margin: 0 auto;
    padding: 0;
}


#Logo-image{
    width:100%;
    height: 45px;
    margin-right: -205px;
    margin-bottom: -15px;
    margin-top: -20px;
}


ul li{
    list-style: none;
    display: inline-block;
    padding: 25px;
}

.item-li{
    padding: 25px 25px 25px 25px;
}
ul li:hover{
    background-color: #01234d;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display:none;
}
 main{
    
 }

@media (max-width:600px){

    #Logo-image{
        width:60%;
        height: 45px;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .toggle{
        display: block; 
        cursor: pointer;
    }

    ul {
        width: 100%;
        display: none;
    }
    
    ul li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}


