body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
nav {
    width: 100%;
    background: #00316b;
}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
ul li:hover{
    background-color: #01234d;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display:none;
}
 main{
     grid: ;
 }

@media (max-width:600px){

    .toggle{
        display: block; 
        cursor: pointer;
    }

    ul {
        width: 100%;
        display: none;
    }
    
    ul li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}


