@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    grid-template-rows: 0.2fr 5fr 0.5fr;
}

header{
    grid-column: 1/4;
    grid-row: 1/2;
    position: fixed;
    width: 100%;
}

nav {
    width: 100%;
    background: rgb(12, 104, 196);
}
ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}


#header-img{
    width:100%;
    height: 45px;
    margin-right: -205px;
    margin-bottom: -15px;
    margin-top: -20px;
    cursor: pointer;
}


ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.item-li{
    padding: 25px 15px 25px 15px;
}
ul li:hover{
    background-color: rgb(3, 97, 190);
}
ul li a{
    color: #fff;
    text-decoration: none;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: rgb(12, 104, 196);;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display:none;
}
 main{
    grid-column: 2/3;
    grid-row: 2/3;
    background: linear-gradient(to right bottom, #0575e6, #0b5eca, #0b47af, #083194, #021b79);
 }

#video-section{
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
 }

#video{
    width: 100%;
    height: 400px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

#features-list{
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 20%;
    padding-right: 10%;
}

#headset{
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    font-size: 10vh;
    text-shadow:2px 2px 2px #000000;
    padding-bottom: 10%;
    padding-top: 5%;
}


#technical{
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
    font-size: 10vh;
    text-shadow:2px 2px 2px #000000;
    padding-bottom: 10%;
    padding-top: 20%
}


#receipt{
    grid-column: 1/2;
    grid-row: 3/4;
    color: white;
    font-size: 10vh;
    text-shadow:2px 2px 2px #000000;
    padding-bottom: 10%;
    padding-top: 30%;
    padding-left: 10%
}

.feature-text{
    color: white;
    font-size: 4vh;
}

h2 {
    color: white;
    font-weight: 100;
    font-size: 3.5vw;
    text-align: center;
}

h3 {
    color: white;
    font-weight: 100;
    font-size: 3.5vw;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

#services-section{
    
    padding-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
}



.card{
    border: 1px solid #A9A9A9;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 18%;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
    background-color: white;
}

.card:hover{
    box-shadow: 0 4px 4px 4px rgba(0,0,0,0.5);
    border-color: black;
}

.special-card{
    margin-bottom: -3%;
    padding-bottom: 2%;
}

hr {
    width: 100%;
}

.card-header{
    color: rgb(12, 104, 196);
    line-height: 0.1;
    background-color: white;
}


.service-title{
    font-size: 40px;
    font-weight: bolder;
}

.price-text{
    font-weight: bolder;
    font-size: 30px;
    color: rgb(12, 104, 196);
}


.price-time{
    font-weight: bold;
}

.terms{
    font-size: 10px;
    color: grey;
}

.button{
    background: linear-gradient(to right bottom, #0575e6, #0b5eca, #0b47af, #083194, #021b79);
    color: white;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    text-decoration: none;
    padding: 16px;
}

.button:hover{
    background: linear-gradient(to right bottom, #045db6, #094ca3, #0b47af, #062979, #011764);
}

 #form-section{
    padding-top: 1%;
    padding-left: 15%;
    padding-bottom: 4%;
 }


#form-section form{
    width: 80%;
    height: auto;
    align-self: center;
    border: 1px solid black;
    background-color: white;
 }

.form-title{
    color: rgb(12, 104, 196);
    font-size: 30px;
}
#form-section input{
    margin-top: 1%;
    margin-bottom: 2%;
}

#form-section p{
    text-align: center;
}

.form-title{
    font-weight: bolder;
}

.input-label{
    text-align: left;
    margin-left: 2%;
    margin-right: -2%;
}

.input-section{
    width: 95%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    border: none;
    border-bottom: 2px solid rgb(12, 104, 196);;
 }

 .input-section:focus{
    outline: none;
 }

.form-terms{
    font-size: 12px;
    color: rgb(27, 27, 27);
    text-align: left;
}

 #submit{
    margin-left: 25%;
}



.button-submit{
    background: linear-gradient(to right bottom, #0575e6, #0b5eca, #0b47af, #083194, #021b79);
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    text-decoration: none;
    padding: 16px;
}

.button-submit:hover{
    background: linear-gradient(to right bottom, #045db6, #094ca3, #0b47af, #062979, #011764);
}

footer{
    margin-top: 3%;
    background-color:  #0c328a;
    grid-row: 3/4;
    grid-column: 1/4;
    display: flex;
}

#footer-credits{
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    padding-top: 2%;
}

#footer-img{
    justify-self: center;
    width: 20%;
    height: auto;
}

.footer-text{
    color: white;
    font-size: 2vh;
}

.footer-link{
    color: white;
}



@media (max-width:1100px){

    #video{
        width: 99%;
        height: 400px;
    }

    h2 {
        font-size: 5vw;
    }

    #features-list{
        display: grid;
        grid-template-columns: 0.5fr 4fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #headset{
        grid-column: 1/2;
        grid-row: 1/2;
        color: white;
        font-size: 6vh;
        text-shadow:2px 2px 2px #000000;
        padding-bottom: 1%;
        padding-top: 50%;
        padding-right: 20%;
    }
    
    
    #technical{
        grid-column: 1/2;
        grid-row: 2/3;
        color: white;
        font-size: 6vh;
        text-shadow:2px 2px 2px #000000;
        padding-bottom: 10%;
        padding-top: 80%;
        padding-right: 20%;
    }
    
    
    #receipt{
        grid-column: 1/2;
        grid-row: 3/4;
        color: white;
        font-size: 6vh;
        text-shadow:2px 2px 2px #000000;
        padding-bottom: 10%;
        padding-top: 80%;
        padding-left: 10%
    }
    
    .feature-text{
        color: white;
        font-size: 3vh;
    }

    h3 {
        font-size: 5vw;
    }

    #services-section{
        display: grid;
        grid-template-columns: 1fr;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .special-card{
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .card-header{
        grid-column: 1/2;
    }

    .service-title{
        font-size: 25px;
        font-weight: bolder;
        padding-top: 3%;
    }

    .card-body{
        display: none;
    }


    .card-footer{
        grid-column: 2/3;
    }

    .price-text{
        font-size: 16px;

    }

    .terms{
        font-size: 8px;
    }
    
    .button{
        padding: 10px;
    }

    #footer-img{
        width: 60%;
        height: auto;
    }


}




@media (max-width:600px){

    #header-img{
        width:60%;
        height: 45px;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .toggle{
        display: block; 
        cursor: pointer;
    }

    ul {
        width: 100%;
        display: none;
    }
    
    ul li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }

    #video{
        width: 98%;
        height: 150px;
    }

    h2 {
        font-size: 8vw;
    }

    #features-list{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 0.1fr 1% 0.1fr 1% 0.1fr 1%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        margin-bottom: -65%;
    }
    
    #headset{
        grid-column: 1/2;
        grid-row: 1/2;
        color: white;
        font-size: 6vh;
        text-shadow:2px 2px 2px #000000;
        padding-bottom: 1%;
        padding-top: 10%;
        padding-right: 6%;
    }
    
    #headset-text{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #technical{
        grid-column: 1/2;
        grid-row: 3/4;
        color: white;
        font-size: 6vh;
        text-shadow:2px 2px 2px #000000;
        padding-bottom: 1%;
        padding-top: 55%;
        padding-right: 6%;
    }
    
    #technical-text{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    #receipt{
        grid-column: 1/2;
        grid-row: 5/6;
        color: white;
        font-size: 6vh;
        text-shadow:2px 2px 2px #000000;
        padding-bottom: 1%;
        padding-top: 70%;
        padding-right: 16%;
    }
    
    #receipt-text{
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .feature-text{
        color: white;
        font-size: 3vh;
    }

    h3 {
        font-size: 8vw;
    }

    #services-section{
        display: grid;
        grid-template-columns: 1fr;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .special-card{
        margin-bottom: 5%;
        padding-bottom: 2%;
    }

    .card-header{
        grid-column: 1/2;
    }

    .service-title{
        font-size: 18px;
        font-weight: bolder;
        padding-top: 10%;
    }

    .card-body{
        display: none;
    }


    .card-footer{
        grid-column: 2/3;
    }

    .price-text{
        font-size: 12px;

    }

    .terms{
        font-size: 7px;
    }
    
    .button{
        padding: 5px;
    }
    
    #form-section{
        padding-left: 10%;
        padding-bottom: 7%;
     }

     #form-section form{
        width: 88%;
        height: auto;
        align-self: center;
        border: 1px solid black;
        background-color: white;
     }

    .form-title{
        color: rgb(12, 104, 196);
        font-size: 20px;
    }

    #submit{
        margin-left: 25%;
    }

    footer{
        padding-left: 6%;
        padding-right: 6%;
    }
    
    #footer-img{
        width: 80%;
        height: auto;
    }
}


